{% extends 'base.html.twig' %}
{# ~PAGE PUBLIC~ #}
{% block title %}
	{{name_site}}
	| 
{% endblock %}

{% block body %}
<main>
<div>
<p>N° page {{page.id}}</p>
<h1>PAGE de {{page.user.firstname}}</h1>

<p>{{page.presentation}}</p>
 <a href="{{ path('app_kollectors_list') }}">Retour à la liste</a>
</div>
</main>

   {% for image in page.images %}
            <div>
                <img src="{{ asset('/upload_directory/' ~ image.title)}}" alt="Image de galerie collectionneur">
                {# <a href="{{ path('pages_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a> #}
            </div>
        {% endfor %}

{% endblock %}
