{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<main class="main_login">

		<div class="container_request">


			<div class="check_email">
				<div>

					<h2>Compte
						{{name_site}}</h2>
					<h3 class="h3 mb-3 font-weight-normal">Vous avez reçu un mail !</h3>
					<p>
						Si un compte correspondant à votre adresse e-mail existe,
						<br>
						un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser
						<br>
						pour réinitialiser votre mot de passe.
						{# Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}. #}
					</p>
					<br>
					<p>
						Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
						<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
					</p>

					<div>
						<button class="btn_play">
							<a href="{{ path('app_login') }}">Se connecter</a>
						</button>
					</div>
				</div>

				<div>
					<img src="{{ asset('images/login/check_email.png') }}" alt="Photo {{playmo}} livreur de journaux">
				</div>
			</div>

			{# ~Link Login user~ #}

		</div>

	</main>


{% endblock %}
