{% extends 'base.html.twig' %}

{% block title %}{{name_site}} | Réinitialisation Mot de passe{% endblock %}

{% block body %}

<main class="main_login">
  {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
 {% endfor %}

    
    
    <div class="container_request">
    <h2>Compte {{name_site}}</h2>
	<h3 class="h3 mb-3 font-weight-normal">Réinitialisez votre mot de passe :</h3>
    
    <div class="form_request">

    <img src="{{ asset('images/login/request.png') }}" alt="Photo {{playmo}} facteur">

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email, {label: 'Votre email : '}) }}
            <div>
                <small>
                    Entrez votre adresse email, et vous recevrez un lien pour réinitialiser votre mot de passe.
                    <br>
                    Attention, ce lien n'est valable qu'une heure !
                </small>
            </div>

            <button class="btn_play">Envoyer</button>
        {{ form_end(requestForm) }}
    </div>
         

    </div>
</main>
  


   

{% endblock %}
