{% extends 'base.html.twig' %}

{% block title %}
	{{name_site}}
	| Admin_FicheUser
{% endblock %}

{% block body %}
	<main class="main_admin ">
		<div class="container_admin show">

			<h2>{{admin}}</h2>
			<h3>Fiche informations de
				<span>
					{{user.pseudo}}</span>
			</h3>

			<div class="role_statut">

				<h4>Statut inscrit :</h4>

				{% for roles in user.roles %}
					{% if roles == 'ROLE_ADMIN' %}
						<p>
							Administrateur</p>
					{% endif %}

					{% if roles == 'ROLE_KOLLECTOR' %}
						<p>Collectionneur</p>
					{% endif %}
				{% endfor %}
			</div>

			<div class="content_info">
				<img src="{{ asset('images/admin/face.png') }}" alt="Dessin {{playmo}}">


				<div class="titled">
					<h4>Prénom / Nom :</h4>
					<br>
					<h4>Adresse mail :</h4>
					<br>
					<br>
					<h4>Date de naissance :
					</h4>
					<br>
					<h4>Code postal :</h4>
					<h4>Ville :</h4>
					<h4>Profession :</h4>
					<br>
					<h4>Page attribuée :</h4>
				</div>

				<div class="informations">
					<p>{{ user.firstname}}
						{{ user.name}}</p>
					<br>
					<p>{{ user.email}}</p>
					<p>(adresse vérifiée :
						{{ user.isVerified ? 'Oui' : 'Non' }})</p>
					<br>
					<p>{{ user.age|date('d/m/Y') }}</p>
					<br>
					<p>{{ user.postalcode}}</p>
					<p>{{ user.city}}</p>
					<p>{{ user.job}}</p>
					<br>
					{% if user.page.id  is defined%}
						<p>{{user.page.id}}</p>
					{% else %}
						<p>Non</p>
					{% endif %}
				</div>
			</div>


			<div class="btn_page">
				<button class="btn_play">
					<a href="{{ path('app_admin_users') }}">Retour</a>
				</button>
				<button class="btn_play">
					<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a>
				</button>
				{{ include('admin/users/_delete_form.html.twig') }}
			</div>


		</div>

	</main>


{% endblock %}
