{% extends 'base.html.twig' %}

{% block title %}
	{{name_site}}
	| Liste des inscrits
{% endblock %}

{% block body %}
	<main class="main_admin">
		<div class="container_admin users_list">

			<div class="head_admin">
				<img src="{{ asset('images/offline.png') }}" alt="Dession tête {{playmo}}">
				<div class="title_admin">
					<h2>{{admin}}</h2>
					<h3>Liste des utilisateurs inscrits</h3>
				</div>
				<img src="{{ asset('images/offline.png') }}" alt="Dession tête {{playmo}}">
			</div>


			<div class="gestion_admin">
				<button class="btn_play">
					<a href="{{ path('app_admin_user_new') }}" title="Créer un nouvel utilisateur">Nouveau</a>
				</button>
				<button class="btn_play">
					<a href="{{ path('app_admin_kollectors') }}" title="Afficher uniquement les collectionneurs">Collectionneurs</a>
				</button>
				<button class="btn_play">
					<a href="" title="Afficher tous les utilisateurs">Afficher tout</a>
				</button>
			</div>


			<table>
				<thead>
					<tr>
						<th>N° id</th>
						<th>Pseudo</th>
						<th>Email</th>
						<th>@ vérifié</th>
						<th>Statut</th>

						<th>Nom</th>
						<th>Prénom</th>
						<th>Naissance</th>
						<th>Profession</th>

						<th>Code postal</th>
						<th>Ville</th>

						<th>Gestion</th>
						<th>N° Page</th>
					</tr>
				</thead>

				<tbody>
					{% for user in users %}
						{% if user.id == 100 %}

							{% else %}

								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.pseudo }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
									<td>
										{% for roles in user.roles %}
											{% if roles == 'ROLE_ADMIN' %}
												<p>Administrateur</p>
											{% endif %}
											{% if roles == 'ROLE_KOLLECTOR' %}
												<p>Collectionneur</p>
											{% endif %}
										{% endfor %}
									</td>

									<td>{{ user.name }}</td>
									<td>{{ user.firstname }}</td>
									<td>{{ user.age|date('d/m/Y') }}</td>
									<td>{{ user.job }}</td>

									<td>{{ user.postalcode }}</td>
									<td>{{ user.city }}</td>

									<td>
										<a href="{{ path('app_users_show', {id: user.id}) }}" title="Consulter">
											<i class="far fa-eye action_crud"></i>
										</a>
										<a href="{{ path('app_admin_user_edit', {id: user.id}) }}" title="Modifier">
											<i class="fas fa-edit action_crud"></i>
										</a>
										<a href="{{ path('app_admin_user_delete', {id: user.id}) }}" title="Supprimer">
											<i class="fas fa-ban action_crud"></i>
										</a>
										{# {{ include('admin/users/_delete_form.html.twig') }} #}
									</td>

									<td>
										{% for roles in user.roles %}
											{% if roles == 'ROLE_KOLLECTOR' %}
												{% if user.page.id  is defined%}
													{{user.page.id}}
												{% else %}
													<a class="atta" href="">en attente</a>
												{% endif %}

											{% endif %}
										{% endfor %}
									</td>

								</tr>
						{% endif %}

					{% endfor %}

				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
