{% extends 'base.html.twig' %}

{% block title %}
	{{name_site}}
	| Admin_NewPage Collectionneur
{% endblock %}

{% block body %}
	<main class="main_admin_pages">
		<div class="container_admin_pages">

			<h2>{{admin}}</h2>
			<h3>Création d'une page collectionneur</h3>

			<div class="form_new_page">
				<div>
					<img class="img_admin" src="{{ asset('images/admin/fou.png') }}" alt="Dessin silhouette {{playmo}}">
				</div>

				<div>
					{{ form_start(form) }}
					{{ form_row(form.user, {label:'Collectionneur :' })}}
					{{ form_row(form.networks, {label:'Réseaux sociaux' })}}
					{{ form_row(form.presentation, {label:'Présentation :' })}}
				</div>


				
					
			

			</div>
                {{ form_end(form) }}


		</div>
	</main>


{% endblock %}
