<div class="img_home">
    {# ~background image group Playmobil~ #}
</div>

<div  id="navbar" class="navbar text">
    <a href="{{ path('app_home') }}"><img src="{{ asset('images/logo_playmothek.png') }}" alt="Logo Playmothek" title="Accueil"></a>

	<nav id="" class="home_menu">		
        {# ~Menu ADMIN~ #}
        {% if is_granted('ROLE_ADMIN') %}
        	<ol class="menu_admin">
			<li><a href="{{ path('app_admin_users') }}" title="Voir la liste de tous les inscrits">Utilisateurs</a></li>
            <li><a href="{{ path('app_admin_pages') }}" tittle="Pages attibuées aux collectionneurs">Gérer les pages</a></li>    
            <li class="dropdown"><a href="#">Infos pratiques</a>             
                {# ~Sub Menu~ #}
                <ul class="dropdown_menu">
                        <li><a href="{{ path('app_lexique') }}">Lexique</a></li>
                        <li><a href="{{ path('app_custom') }}">Custom & démontage</a></li>
                        <li><a href="{{ path('app_custom') }}">Coup de coeur ♥</a></li>
                    </ul>
            </li>
			<li><a href="{{ path('app_officielle') }}" title="Histoire de Playmobil">La marque officielle</a></li>
		</ol>

        {# ~Menu KOLLECTOR~ #} 
         {% elseif is_granted('ROLE_KOLLECTOR')%}
            <ol class="menu_kollector">
			<li><a href="{{ path('app_kollectors_list') }}" title="Voir la liste des collectionneurs">Collectionneurs</a></li>
			{# <li><a href="#">Dioramas</a></li> #}		   
            <li class="dropdown"><a href="#">Infos pratiques</a>             
                {# ~Sub Menu~ #}
                <ul class="dropdown_menu">
                        <li><a href="{{ path('app_lexique') }}">Lexique</a></li>
                      <li><a href="{{ path('app_custom') }}">Custom & démontage</a></li>
                        <li><a href="{{ path('app_custom') }}">Coup de coeur ♥</a></li>
                    </ul>
            </li>
			<li><a href="{{ path('app_officielle') }}" title="Histoire de Playmobil">La marque officielle</a></li>
            <li><a href="{{ path('app_kollector_connected', {'id': app.user.id}) }}" title="Compte collectionneur">Gérer ma page</a></li>
		</ol>

        {# ~Menu USER~ #} 
        {% elseif is_granted('ROLE_USER')%}
            <ol class="menu_user">
			<li><a href="{{ path('app_kollectors_list') }}" title="Voir la liste des collectionneurs">Collectionneurs</a></li>
			{# <li><a href="#">Dioramas</a></li> #}		   
            <li class="dropdown"><a href="#">Infos pratiques</a>             
                {# ~Sub Menu~ #}
                <ul class="dropdown_menu">
                        <li><a href="{{ path('app_lexique') }}">Lexique</a></li>
                        <li><a href="{{ path('app_custom') }}">Custom & démontage</a></li>
                        <li><a href="{{ path('app_custom') }}">Coup de coeur ♥</a></li>
                    </ul>
            </li>
			<li><a href="{{ path('app_officielle') }}" title="Histoire de Playmobil">La marque officielle</a></li>
		</ol>

        {# ~Menu OFFLINE~ #}
        {% else %}
        <ol class="menu_offline">
			<li><a href="{{ path('app_kollectors_list') }}" title="Voir la liste des collectionneurs">Collectionneurs</a></li>
			{# <li><a href="#">Dioramas</a></li> #}		   
            <li class="dropdown"><a href="#">Infos pratiques</a>               
                {# ~Sub Menu~ #}
                <ul class="dropdown_menu">
                        <li><a href="{{ path('app_lexique') }}">Lexique</a></li>
                        <li><a href="{{ path('app_custom') }}">Custom & démontage</a></li>
                        <li><a href="{{ path('app_custom') }}">Coup de coeur ♥</a></li>
                    </ul>
            </li>
			<li><a href="{{ path('app_officielle') }}" title="Histoire de Playmobil">La marque officielle</a></li>
		</ol>            
        {% endif %}
	</nav>
    
    {# ~Connection according to profile~ #}
    <div class="connexion_home_user">
        {% if is_granted('ROLE_ADMIN') %} 
            <a href="{{ path('app_logout') }}" title="Se déconnecter"><img src="{{ asset('images/admin.png') }}" alt="Icône Playmobil Admin"></a>            
            <p class="link_connexion">Connecté en tant qu'administrateur : "{{ app.user.pseudo }}"</p>

        {% elseif is_granted('ROLE_KOLLECTOR') %}     
            <a href="{{ path('app_logout') }}" title="Se déconnecter"><img src="{{ asset('images/kollector.png') }}" alt="Icône Playmobil Collectionneur"></a> 
            <p class="link_connexion">Connecté en tant que collectionneur :  "{{ app.user.pseudo }}"</p>

        {% elseif is_granted('ROLE_USER') %}     
            <a href="{{ path('app_logout') }}" title="Se déconnecter"><img src="{{ asset('images/user.png') }}" alt="Icône Playmobil User"></a> 
            <p class="link_connexion">Connecté en tant que visiteur :  "{{ app.user.pseudo }}"</p>
            {# {{ app.user.userIdentifier }}        #}
        
        {% else %}
            <img src="{{ asset('images/offline.png') }}" alt="Icône Playmobil Offline">
            <a class="link_connexion" href="{{ path('app_login') }}" title="Se connecter ou s'incrir">Se connecter</a>
        {% endif %}       
    </div>
</div>

