{% extends 'base.html.twig' %}

{% block title %}Page Collectionneur
{% endblock %}

{% block body %}
	<main class="main_koll">

		<div class="container_koll">
			<h3>Mise à jour de vos informations</h3>

			<div class="form_info_update">
				{{ form_start(form)}}

				{{ form_row(form.name, {label: 'Nom de famille : '}) }}
				{{ form_row(form.firstname, {label: 'Prénom : '}) }}
				{{ form_row(form.pseudo, {label: 'Pseudo : '}) }}
				{{ form_row(form.age, {label: 'Date de naissance : '}) }}
				{{ form_row(form.job, {label: 'Profession : '}) }}
				{{ form_row(form.postalcode, {label: 'Code postal : '}) }}
				{{ form_row(form.city, {label: 'Ville : '}) }}
				{{ form_end(form)}}
			</div>

		</div>


	</main>
{% endblock %}
