{% extends 'base.html.twig' %}

{% block title %}Page Collectionneur
{% endblock %}

{% block body %}
	<main class="main_register">

		<div class="container_actuality">


			<div>
				<h3>Mise à jour de votre actualité</h3>
			</div>

			<div>
				{{ form_start(form)}}

				{{ form_row(form.networks, {label: 'Réseaux sociaux : '})}}
				<br>
				{{ form_row(form.presentation, {label: 'Modifier votre histoire : '})}}
				<br>
				{{ form_row(form.images, {label: 'Ajouter des photos : '})}}

				{{ form_end(form)}}

				<div>
					<h3>Gérer votre galerie</h3>


					<div class="galery_gest">

						{% for image in app.user.page.images %}

							<div class="list_img">
								<form action="{{ path('app_kollector_connected_delete_img', {id: image.id}) }}" method="POST">
									<p>Photo N°
										{{image.id}}</p>
									<input type="hidden" name="token" value="{{ csrf_token('delete-image') }}">
									<img src="{{ asset('/upload_directory/' ~ image.title)}}" alt="Image de galerie collectionneur">
									<br>
									<button class="btn_play btn_suppr" type="submit">Supprimer la photo N°
										{{image.id}}</button>
								</form>

							</div>
						{% endfor %}

					</div>
				</div>


			</div>

		</div>


	</main>
{% endblock %}
