{% extends 'base.html.twig' %}

{% block title %}Page Collectionneur{% endblock %}

{% block body %}
   
PAGE PROFIL COLLECTIONNEUR
  {% for message in app.flashes('update_profil') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('password_success') %}
        <div>{{ message }}</div>
{% endfor %}

<div>
<p>Page de {{ app.user.firstname}} {{ app.user.name}}</p>
</div>

<div>
<p>Présentation : {{app.user.page.presentation}}</p>
<p>Réseau : {{app.user.page.networks}}</p>
</div>

<div>
    <button><a href="{{ path('app_profil_edit',  {'id': app.user.id}) }}">Modifier mes infos perso</a></button>
    <button><a href="{{ path('app_actu_edit', {'page': app.user.page.id}) }}">Modifier mon actu</a></button>
    <button><a href="{{ path('app_password_edit',  {'id': app.user.id}) }}">Modifier le mot de passe</a></button>
</div>

<div>
   <h2>Derniéres photos ajoutées :</h2>
   {# <p>Nombre de photos : {{ app.user.pictures|length }}</p> #}
   {# {% for picture in app.user.pictures %}
    <p>Titre : {{picture.TitlePicture}}</p>
   <p>Catégorie : {{picture.category}}</p>
   <p>Thème : {{picture.theme}}</p>
   {% endfor %} #}
   
</div>
{% endblock %}



